src/main/mule/implementation/cics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ibmctg="http://www.mulesoft.org/schema/mule/ibmctg" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/ibmctg http://www.mulesoft.org/schema/mule/ibmctg/current/mule-ibmctg.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	
	
	<flow name="global-cics-idvalidation-Flow" doc:id="344b9dda-0a86-4d5c-b2df-57585aaf49ed">
		
		<logger level="INFO" message="Testing CICS" doc:name="Flow Start"/>
		
		<set-variable value="#[correlationId]" doc:name="Set correlationId" doc:id="bc32e9d4-4877-4d5e-89b0-2a168cae0ff2" variableName="correlationId"/>
		<ee:transform>
   			<ee:message>
    			<ee:set-payload resource="dwl/cics-id-validation-payload.dwl"></ee:set-payload>
   			</ee:message>
   			<ee:variables>
   			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-cics-api-flow Reference" doc:id="6acd4eb3-41af-49a6-888f-50f114d3473d" name="common-cics-api-flow"/> 
  		<ee:transform doc:name="Transform Message" doc:id="c3091c0c-18df-495f-b81d-9a4f80aabe32" >
			<ee:message >
				<ee:set-payload resource="dwl/set-payload.dwl"></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload[58 to 59]]" doc:name="Set DSF1RETURNCODEDL" doc:id="520eac89-7173-407e-bf11-17926d040c41" variableName="DSF1RETURNCODEDL"/>
		<set-variable value="#[payload[60 to 61]]" doc:name="Set DSF1RETURNCODEID" doc:id="4bdd6c7f-b22c-454b-ae6c-f6c2352ab32b" variableName="DSF1RETURNCODEID"/>
		<logger level="INFO" doc:name="Logger" doc:id="ed424cc1-e4ee-426e-9c37-f78102ee886e" message='#["mainframe response:  " ++ vars.DSF1RETURNCODEDL default ""]'/>
		<logger level="INFO" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="1541af86-e407-4331-a20d-58c7569d0bc3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if ( vars.DSF1RETURNCODEDL == "00"){
	//correlationId: vars.correlationId,
	//code: "201",
	dsf1returncodedl : "Success"
} //else if ( vars.httpStatus != 200 ) {
	//correlationId: vars.correlationId,
	//code: vars.httpStatus,
	//message: vars.apiErrorMessage.error.errors[0].detail
//}
else if ( vars.DSF1RETURNCODEDL == p('cicserror.zero-one-code') ) {
	dsf1returncodedl: p('cicserror.zero-one-message'),
	code: "400"
	
}  
	else if ( vars.DSF1RETURNCODEDL == p('cicserror.zero-two-code') ) {
	dsf1returncodedl: p('cicserror.zero-two-message'),
	code: "400"
	
}  
	else if ( vars.DSF1RETURNCODEDL == p('cicserror.zero-three-code') ) {
	dsf1returncodedl: p('cicserror.zero-three-message'),
	code: "400"
	
} 
	else if ( vars.DSF1RETURNCODEDL == p('cicserror.zero-six-code') ) {
	dsf1returncodedl: p('cicserror.zero-six-message'),
	code: "400"
	
} 
	else if ( vars.DSF1RETURNCODEDL == p('cicserror.zero-four-code') ) {
	dsf1returncodedl: p('cicserror.zero-four-message'),
	code: "400"
	
} 
	else if ( vars.DSF1RETURNCODEDL == p('cicserror.zero-seven-code') ) {
	dsf1returncodedl: p('cicserror.zero-seven-message'),
	code: "400"
	
} 
    else dsf1returncodedl: "Success"
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Remove Variable FLow Reference" doc:id="70d4db61-8400-4c99-b779-5b69bc9528e9" name="cics-id-address-remove-variables-flow"/>
		<ee:transform doc:name="Final  Response" doc:id="668252ea-c226-4f3c-b2e9-70c7ce20889a" >
			<ee:message >
				<ee:set-payload resource="dwl/response-payload.dwl"></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Flow End" doc:id="7644919d-1d24-4914-93e4-e9df389b9a82" message="CICS Id Validation Flow End"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f1ff57c4-d17e-4b5b-8412-309ab1f5cc69" >
				<logger level="INFO" category="app" message="There was an error while calling id validation API service" />
				<logger level="INFO" category="app" message="#[error.errorMessage.payload]" />
				<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[error.errorMessage.attributes.statusCode]'/>
				<set-variable doc:name="set apiErrorMessage" variableName="apiErrorMessage" value='#[error.errorMessage.payload]'/>
			
			</on-error-continue>
		</error-handler>
		
	</flow>
	
	<flow name="global-cics-address-Flow" doc:id="e8119ca3-ae12-43b0-a580-e260c1a48831">
		
		<logger level="INFO" message="Testing DB2 and CICS" doc:name="Flow Start"/>
		
		<set-variable value="#[correlationId]" doc:name="Set correlationId" doc:id="453542c7-4c3c-42be-a19c-cca06f111feb" variableName="correlationId"/>
		<set-variable value="#[payload]" doc:name="Set payload variable" doc:id="c927b4bd-a636-493f-894e-634f75cb7130" variableName="payload"/>
		<flow-ref doc:name="db2 Flow Reference" doc:id="3d9f88a4-9f75-4f89-9aae-15060640de71" name="db2"/>
		<choice doc:name="Choice" doc:id="f86d1d95-890c-45d1-a478-91125fb2c51d" >
			<when expression="#[vars.httpStatus != 200]">
				<ee:transform doc:name="Error Response" doc:id="c4b26caf-8c49-45b3-b444-0c68eceb4d72" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: vars.correlationId,
	code: vars.httpStatus,
	message: vars.apiErrorMessage
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform>
   			<ee:message>
    			<ee:set-payload resource="dwl/cics-address-change-payload.dwl"></ee:set-payload>
   			</ee:message>
   			<ee:variables>
   			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="common-cics-api-flow Flow Reference" doc:id="1a49d9fd-0e28-44a1-a5cf-ecd71bdbf44c" name="common-cics-api-flow" />
				<ee:transform doc:name="Transform Message" doc:id="b6837c86-e814-4f96-b211-0a2bbe5fd632">
			<ee:message>
				<ee:set-payload resource="dwl/set-payload.dwl"></ee:set-payload>
			</ee:message>
		</ee:transform>
				<set-variable value="#[payload[108 to 109]]" doc:name="Set DSF2PROCSTATUS" doc:id="dd47e226-a3f2-4776-8960-5330108cd74a" variableName="DSF2PROCSTATUS" />
				<logger level="INFO" message="#[payload]" doc:name="payload logger" />
				<ee:transform doc:name="Transform Message" doc:id="c6bcdf60-d565-4996-a36a-82c0cb1e3bd0">
			<ee:message>
				<ee:set-payload resource="dwl/cics-address-change-response.dwl"></ee:set-payload>
			</ee:message>
		</ee:transform>
				<flow-ref doc:name="Remove Variable FLow Reference" doc:id="7374d1b0-b727-499e-84c9-cf07cbed9f4e" name="cics-address-remove-variables-flow" />
				<ee:transform doc:name="final Response" doc:id="965a68a6-ff25-4b89-80b2-2f1f49e5d5f5">
			<ee:message>
				<ee:set-payload resource="dwl/response-payload.dwl"></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Flow End" doc:id="167b7bbb-240c-4ed4-85a6-dcb0005b1675" message="CICS Address Flow End" />
			</otherwise>
		</choice>
		
	
	</flow>
	
</mule>