src/main/mule/implementation/db2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	
	<flow name="db2" doc:id="a8ff2a8a-8a07-4473-bafe-a6e1c596772e">
		<logger doc:name="request payload" level="INFO" message="#[output application/json --- if ( payload != null) payload else 'No records found']" />
		<ee:transform doc:name="select query variable">
			<ee:variables>
				<ee:set-variable variableName="query" resource="dwl/db2-select-query.dwl">
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="select records" config-ref="Database_Config" target="dbResult">
			<db:sql><![CDATA[#[vars.query]]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="response logger" doc:id="42633666-eb50-4373-855b-aa6cab00c451" message="#[payload]" />
		<ee:transform doc:name="update query variable" doc:id="eada8027-2814-4fd3-8c6c-b4ef4d9afa1e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="updatequery" resource="dwl/db2-update-query.dwl"></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="remove variable flow Reference" doc:id="ec64253a-8ee7-4362-8ecb-6dd2fa8e84ea" name="call-db2-remove-variables-flow"/>
		<logger level="INFO" doc:name="response logger" doc:id="632ab024-ee76-4a2c-ba9b-5be5775025a8" message="#[output application/json --- if ( payload != null) payload else 'No records found']"/>
			<error-handler ref="global-error-handler" />
    </flow>
    
    
</mule>