src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
     
    xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
    xmlns:http="http://www.mulesoft.org/schema/mule/http" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/address/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]"> 
                <http:body><![CDATA[#[payload default {}]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response> 
        </http:listener>
        <!--<logger doc:name="payload" level="INFO" message="#[payload]"/>-->
		<apikit:router config-ref="api-config" />
		<error-handler ref="global-error-handler"/>
    </flow>

    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body> 
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener> 
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-error-handler" />
    </flow>

    <flow name="put:\address-change:application\json:api-2-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                {
                correlationId: "cb77f47e-923a-4195-86fc-23bbf2f01311",
                status: 200,
                message: "The operation was successfully processed",
                processingTime: "00:02:345"
                } as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\id-validation:api-2-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                {
                correlationId: "cb77f47e-923a-4195-86fc-23bbf2f01311",
                status: 200,
                message: "The operation was successfully processed",
                processingTime: "00:02:345"
                } as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>