src/main/mule/cics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ibmctg="http://www.mulesoft.org/schema/mule/ibmctg" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/ibmctg http://www.mulesoft.org/schema/mule/ibmctg/current/mule-ibmctg.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	
	<configuration-properties doc:name="Configuration properties" file="global-properties.yaml"/>
	
	<ibmctg:config name="IBM_CTG_Config" doc:name="IBM CTG Config" >
		<ibmctg:connection 
			serverName="CICSSWEB" 
			username="MSFT@SRV" 
			password="Cyber-Trust-Z0nk211x" 
			host="10.0.49.65"/>
	</ibmctg:config>
	<flow name="global-cics-idvalidation-Flow" doc:id="344b9dda-0a86-4d5c-b2df-57585aaf49ed">
		
		<logger level="INFO" message="Testing CICS"/>
		
		<ee:transform>
   			<ee:message>
    			<ee:set-payload><![CDATA[%dw 2.0
output application/flatfile schemaPath = "dsf01g-type.ffd" , encoding = "cp037"
---
[{
	"DSF1-CODE": p('cics.idValidation-dsf1-code'),
	"DSF1-DL-NO":payload.dl,
	"DSF1-DL-ISSUE-DT": payload.dlIssueDate,
	"DSF1-SSN-LAST4": payload.ssnLast4,
	"DSF1-DOB": payload.dateOfBirth,
	"DSF1-TVDL": payload.tvdl
}]]]>
				</ee:set-payload>
   			</ee:message>
   			<ee:variables>
   			</ee:variables>
		</ee:transform>
		<ibmctg:execute-using-commarea doc:name="Execute using commarea" 
  				 config-ref="IBM_CTG_Config">
		<ibmctg:commarea-request-type 
			programName="DSF02G" tpnName="CSMI"/>
		</ibmctg:execute-using-commarea>
		<!-- 
			Working partially with 
			- IBM1047
			- IBM-1047
			- IBM037
			- ISO-8859-1
			- US-ASCII
			- CP1047 

			Not working (error: unsupported encoding):
			- IBM1037
			- COMP
			- EBCDIC
		-->
  
  		<ee:transform doc:name="Transform Message" doc:id="c3091c0c-18df-495f-b81d-9a4f80aabe32" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload[58 to 59]]" doc:name="Set Variable" doc:id="520eac89-7173-407e-bf11-17926d040c41" variableName="DSF1RETURNCODEDL"/>
		<set-variable value="#[payload[60 to 61]]" doc:name="Set Variable" doc:id="4bdd6c7f-b22c-454b-ae6c-f6c2352ab32b" variableName="DSF1RETURNCODEID"/>
		<ee:transform doc:name="Transform Message" doc:id="56e1a9f3-27df-4b51-8bfb-a64eadef4001" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
dsf1returncodedl: vars.DSF1RETURNCODEDL
}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message='#[payload]' />
		<set-payload value='#[payload]' doc:name="Set Payload" doc:id="18bbb789-ceb4-45db-b52d-de2fb22ac212" />
		
	</flow>
	
	<flow name="global-cics-address-Flow" doc:id="e8119ca3-ae12-43b0-a580-e260c1a48831">
		
		<logger level="INFO" message="Testing DB2 and CICS"/>
		
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="c927b4bd-a636-493f-894e-634f75cb7130" variableName="payload"/>
		<flow-ref doc:name="Flow Reference" doc:id="3d9f88a4-9f75-4f89-9aae-15060640de71" name="db2"/>
		<ee:transform>
   			<ee:message>
    			<ee:set-payload><![CDATA[%dw 2.0
output application/flatfile schemaPath = "dsf02g-type.ffd" , encoding = "cp037"
---
[{
	"DSF2-TRANSID": p('cics.address-dsf2-transid'),
	"DSF2-DL-NO": vars.payload.dl,
	"DSF2-STREET-ADDR": vars.payload.street,
	"DSF2-CITY": vars.payload.city,
	"DSF2-ZIP-CD": vars.payload.zipCode,
	"DSF2-COUNTY-CD": vars.payload.countryCode,
	"DSF2-MOTOR-VTR": "N",
	"DSF2-ADDR-VER": "N"
}]]]>
				</ee:set-payload>
   			</ee:message>
   			<ee:variables>
   			</ee:variables>
		</ee:transform>
		<ibmctg:execute-using-commarea doc:name="Execute using commarea" 
  				 config-ref="IBM_CTG_Config">
		<ibmctg:commarea-request-type 
			programName="DSF02G" tpnName="CSMI"/>
		</ibmctg:execute-using-commarea>
		<!-- 
			Working partially with 
			- IBM1047
			- IBM-1047
			- IBM037
			- ISO-8859-1
			- US-ASCII
			- CP1047 

			Not working (error: unsupported encoding):
			- IBM1037
			- COMP
			- EBCDIC
		-->
  
  		<ee:transform doc:name="Transform Message" doc:id="b6837c86-e814-4f96-b211-0a2bbe5fd632" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

payload

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload[108 to 109]]" doc:name="Set Variable" doc:id="dd47e226-a3f2-4776-8960-5330108cd74a" variableName="DSF2PROCSTATUS"/>
		<logger level="INFO" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="c6bcdf60-d565-4996-a36a-82c0cb1e3bd0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
dsf2procstatus: vars.DSF2PROCSTATUS
}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="438aa8f1-a2d7-48dd-855a-4e4f77dba486" />
		
	</flow>
	
	
	
	
</mule>